.select {
    font-family: sans-serif;
}

.options {
    border: 1px solid black;
    border-radius: 2px;
    position: absolute;
    min-width: 100px;
    min-height: 20px;
}

.option {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid black;
}

.selectedOpt {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    min-width: 80px;
    min-height: 20px;
    padding: 10px;
}

.selected {
    background: deepskyblue;
    color: white;
}

.option:hover {
    background: steelblue;
    color: white;
}